{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center border" style="margin-top: 10%;">
        <h1 class="my-3 text-danger">Le temps est écoulé</h1>
        <p>Nous sommes vraiment désolés d'apprendre que tu n'as pas réussi ton examen. Ne sois pas trop dûr(e) envers toi-même ; les examens peuvent être difficiles, mais cela ne définit pas tes capacités.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
{% endblock %}