<h1>Salut! Confirmez votre email!</h1>

<p>
    Merci de confirmer votre email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    
</p>
