<footer class="mt-5 myfooter py-5 p-5 pt-1">
	<div class="conteneur mt-5 pb-1">
		<div class="container d-flex flex-column">
			<div>
				<a href="{{ path('homepage') }}"><img src="/logof.png" class="foot-logo"></a>
			</div>
			<div>
				<h5>
					<strong>Eduplanet</strong>
					est une platforme pour éducation en ligne.
				</h5>
			</div>
		</div>
		<div class="container p-0 m-0">
			<div class="d-flex flex-row icons">
				<div>
					<a href="https://www.facebook.com/centrehedylsystems/" target="_blank">
						<i class="fa-brands fa-facebook"></i>
					</a>
				</div>
				<div>
					<a href="https://hedyltech.com/" target="_blank">
						<i class="fa-sharp fa-solid fa-globe"></i>
					</a>
				</div>
				<div>
					<a href="https://www.google.tn/maps/place/Hedyl+Systems/@36.7595242,10.2211291,17z/data=!3m1!4b1!4m6!3m5!1s0x12fd3664dc9faad7:0xf4d558aa1d42cb7b!8m2!3d36.7595199!4d10.2233178!16s%2Fg%2F11c5rpys9m?hl=fr" target="_blank">
						<i class="fa-solid fa-location-dot"></i>
					</a>
				</div>
				<div>
					<a href="mailto:formation.hedyl@yahoo.com" target="_blank">
						<i class="fa-sharp fa-solid fa-envelope"></i>
					</a>
				</div>
			</div>
			<div class="d-flex flex-column align-center">
				<div>
					<i class="fa-sharp fa-solid fa-phone"></i>
					&nbsp;&nbsp;+216 71386573
				</div>
				<div>
					<i class="fa-solid fa-fax"></i>
					&nbsp;&nbsp;+216 71382577
				</div>
				<div>
					2023 &copy; All rights reserved by Eduplanet
				</div>
			</div>
		</div>	
	</div>
</footer>
