{% extends 'admin/base.html.twig' %}

{% block title %}Ajouter un examen
{% endblock %}

{% form_theme form 'examen/_collection.html.twig' %}

{% block body %}
	<div class="container">
		<h1 class="my-3">Ajouter un examen</h1>
		<div class="container w-75">
			{{ form_start(form) }}

			{{ form_widget(form) }}

			<button type="submit" class="btn btn-primary">Ajouter</button>

			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}

{% block javascripts %}
	<script src="/js/examen.js"></script>
{% endblock %}
