<!-- Delete Modal -->
<div class="modal fade" id="deleteModal-{{ quiz.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ quiz.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Supprimer le quiz</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Etes-vous sûr de vouloir supprimer ce quiz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="{{ path('admin_quiz_delete', {slug:cours.slug, id: quiz.id}) }}" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    </div>
</div>