<!-- Disapprove Modal -->
<div class="modal fade" id="disapproveModal-{{ examen.id }}" tabindex="-1"
    aria-labelledby="disapproveModalLabel-{{ examen.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disapproveModalLabel">Désapprover</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Etes-vous sûr de désapprouver cet examen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="{{ path('admin_examen_disapprove', {'id': examen.id }) }}"
                    class="btn btn-danger">Désapprover</a>
            </div>
        </div>
    </div>
</div>