{% extends 'base.html.twig' %}

{% block title %}
	{{ cathegorie.libelle|capitalize }}
{% endblock %}

{% block body %}
	<div style="width:100%; padding:20px">
		<h1 class="my-4 text-center">Catégorie: {{ cathegorie.libelle|capitalize }}</h1>
		{% include 'partials/_dropdown.html.twig' with {options: allCathegories} only %}
		<div class="d-flex flex-row flex-wrap justify-content-center">
			{% for cours in cours %}
				{% include 'cours/_cours.html.twig' %}
			{% endfor %}
		</div>
        <div class="navigation flex justify-center my-4">
            {{ knp_pagination_render(cours) }}
        </div>
	</div>
{% endblock %}
