<html>
<head>
    <meta charset="UTF-8">
    <title>
        Eduplanet - {% block title %}Bienvenue{% endblock %}
    </title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="icon" href="/icon.png"> 
    {% block stylesheets %}{% endblock %}
</head>

<body class="bg-light">
    <div class="container">
        <h1>Merci de vérifier votre email</h1>
        <p>Un email de vérification vous a été envoyé</p>
        <p>Si vous rencontrez un problème merci de contacter l'administrateur</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>