{% extends 'admin/base.html.twig' %}

{% block title %}Modifier ce quiz
{% endblock %}

{% form_theme form 'quiz/_collection.html.twig' %}

{% block body %}
	<div class="container">
		<h1 class="my-3">Modifier ce quiz</h1>
		<div class="container w-75">
			{{ form_start(form) }}

			{{ form_widget(form) }}

			<button type="submit" class="btn btn-primary">Modifier</button>

			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}

{% block javascripts %}
	<script src="/js/quiz.js"></script>
{% endblock %}
