{% extends 'base.html.twig' %}

{% block title %}
  Paiement échoué
{% endblock %}

{% block body %}
  <div class="container my-5">
    <h2>Merci pour votre essai</h2>
    <p>
      Mais votre paiement a échoué :(
      <a href="mailto:formation.hedyl@yahoo.com" target="_blank"><i class="fa-sharp fa-solid fa-envelope"></i></a>.
    </p>
    <a href="/" class="retour">Retour</a>
  </div>
{% endblock %}